/* The next line is the subject. The rest is the body. */
Defence instruction URN: ((URN))
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">URN: ((URN))<br />Defendant Name: ((surname)) ((first_name)) ((middle_name))<br />Hearing date : ((hearing_date))<br />Court venue: ((venue_name))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Defence Organisation name: ((organisation_name))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Contact Details (Def. Org.):<br />((address_line_1))<br />((address_line_2))<br />((address_line_3))<br />((address_line_4))<br />((postcode))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Email address: ((email))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Phone: ((phone))</p>