/* The next line is the subject. The rest is the body. */
RESULTS SUMMARY: ((name_of_court)); ((name_of_defendant)); ((date_of_birth)); ((URN))
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Follow the link below or see the attachment for the summary of court orders and results for ((name_of_defendant)).</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">((material_url))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Contact the service centre on *********** with any queries about them.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">The warrant(s) and other documents used for sentencing purposes will be sent separately.</p>