/* The next line is the subject. The rest is the body. */
DIGITAL WARRANT: ((name_of_court)); ((name_of_defendant)); ((date_of_birth)); ((URN))
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Follow the link below or see the attachment for the court order(s) for the above referenced case.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Contact the service centre on *********** with any queries.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Confirmation of non-custodial results will be sent separately.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">((material_url))</p>