/* The next line is the subject. The rest is the body. */
Mohamed Email Attachment Test
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">HM Courts &amp; Tribunals services</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">email:((material_url))</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Your online plea has been submitted<br />Reference number: ((URN))<br />You’ll need to quote this reference if you contact us</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">What happens next?<br />We’ll send you a letter once your case has been reviewed, usually within 28 days.</p><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Need to change your plea?<br />Email the Contact Centre quoting your reference number.<br />Email: sjs@justice.gov.uk</p>